*{margin: 0;padding: 0}

div{
    color: #000;
}

.say{
    display: flex;
    margin: 12px; /*no*/
    background: cadetblue;
    font-size: 24px; /*px*/
}

.selector {
  width: 150px;
  height: 64px; 
  border: 1px solid #ddd; /*no*/
  font-size: 28px; /*px*/
}

.row{
    display: flex;
    align-items: center;
    width: 10rem;
    height: 5rem;
    box-sizing: border-box;    
}

.col{
    flex: 1;
    height: 100%;
}
