@import './global.scss';
@import './layout.scss';

[v-cloak] {
  display: none;
}

.title {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 52px;
    font-size: 40px !important;
    color: #333;
    text-align: center;
    letter-spacing: .1rem;
}

.counter-box{
    display: flex;
    width: 100%;
    margin-top: 34px;
    font-size: 22px;
    color: #666;
}

.view-counter{
    @extend .flex-item;
    text-align: right;
}

.view-counter-icon{
    width: 28px;
    height: auto;
    margin-right:8px;
}

.view-counter-num{
    margin-right:10px
}

.comment-counter{
    @extend .flex-item;
    text-align: left;
}

.comment-counter-icon{
    width: 26px;
    height: auto;
    margin-left:10px
}

.comment-counter-num{
    margin-left:8px
}

.content {
    width: 100%;
    margin-top: 40px;
    padding: 0 44px 66px 44px;
    box-sizing: border-box;
    border-bottom: 1px solid #e3e3e3;/*no*/
    font-size: 30px;
    color: #333;
    line-height: 1.5;
    white-space: normal;
    word-break: break-all;
    letter-spacing:1.5px;
}

.comments {
    padding: 0 24px;
    width: 100%;
    box-sizing: border-box;
}

.list {
    width: 100%;
}

.item {
    position: relative;
    @extend .flex;
    width: 100%;
}

.item::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 630px;
    height: 1px;
    /*no*/
    background: #dfdfdf;
}

.head-box {
    width: 62px;
    height: 100%;
    margin-top: 30px;
}

.avatar {
    width: 62px;
    height: 62px;
    border-radius: 50% 50%;
}

.comment-conetnt-box {
    @extend .flex-item;
    margin-left: 20px;
    padding-bottom: 30px;
    box-sizing: border-box;
    white-space: normal;
    word-break: break-all;
    letter-spacing:1.5px;
}

.person {
    @extend .flex;
}

.name {
    @extend .flex-item;
    margin-top: 46px;
    margin-bottom: 40px;
    font-size: 30px;
    /*px*/
    color: #333;
    text-align: left;
}

.liked {
    @extend .flex-item;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    margin: 44ox 0;
}

.liked-icon {
    width: 28px;
    height: auto;
    margin-right: 10px;
}

.liked-count {
    font-size: 26px;/*px*/
    color: #666;
}

.comment-conetnt {
    font-size: 28px;
    /*px*/
    color: #333;
    line-height: 1.5;
}