.main {
  background: #f0f0f0;
}

.icon-back {
  content: '';
  position: absolute;
  width: 17px;
  height: 32px;
  top: 34px;
  left: 32px;
  background: url(../img/loginRegister/return.png) no-repeat;
  background-size: cover;
}

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}

.btn {
  display: flex;
  overflow: hidden;
  align-items: center;
  position: relative;
  width: 100%;
  padding-left: 110px;
  margin-top: 20px;
  height: 108px;
  box-sizing: border-box;
  line-height: 108px;
  background: #fff;
  font-size: 32px;
  color: #333;
}

.btn-e2e::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 20px;
  width: 72px;
  height: 72px;
  background: url(../assets/images/yiqizhuan.png) no-repeat;
  background-size: cover;
}

.btn-money::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: 20px;
  width: 72px;
  height: 72px;
  background: url(../assets/images/quqian.png) no-repeat;
  background-size: cover;
}

.icon-nav {
  width: 15px;
  height: 31px;
}

.icon-nav::after {
  content: '';
  position: absolute;
  display: inline-block;
  flex: 1;
  right: 20px;
  width: 15px;
  height: 31px;
  background: url(../assets/images/nav.png) no-repeat;
  background-size: cover;
}