.img-success {
    margin-top: 312px;
    width: 179px;
    height: auto;
    box-sizing: border-box;
}

.success-text {
    height: 75px;
    line-height: 75px;
    font-size: 36px;
    color: #000000;
    letter-spacing: 2px;
    text-align: center;
}

.qrcode {
    width: 305px;
    height: auto;
    margin-top: 33px;
}

.qrcode-prompt {
    height: 63px;
    line-height: 63px;
    font-size: 30px;
    color: #000000;
    letter-spacing: 2.85px;
    text-align: center;
}

.service {
    height: 63px;
    line-height: 63px;
    font-size: 30px;
    color: #000000;
    letter-spacing: 1px;
    text-align: center;
}