.tab-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  width: 100%;
  height: 3.6rem;
  color: #666666;
  background: #fff;
}

.tab-head::after {
  content: '';
  position: absolute;
  z-index: 0;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1px;/*no*/
  background: #d4d4d4;
}

.tab-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: 100%;
  line-height: 3.6rem;
  vertical-align: middle;
  text-align: center;
  font-size: 1.6rem;
}

.tab-item-selected {
  position: relative;
  color: #2aa145;
}

.tab-item-selected::after {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 1.5px;/*no*/
  background: #2aa145;
}

.tab-content {
  width: 100%;
}

.super-info {
  width: 100%;
  height: 103px;
  margin-top: 12px;
  background: #fff;
  box-sizing: border-box;
}

.headPortrait {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 14px;
  margin-left: 34px;
}

.box-info {
  padding-top: 12px;
  padding-left: 16px;
  box-sizing: border-box;
}

.box-star {
  margin-top: 8px;
  box-sizing: border-box;
  font-size: 19px;
  color: #4c4c4c;
}

.tag {
  display: inline-block;
  width: 61px;
  height: 18px;
  border: 1px solid #2ba146;
  font-size: 12px;
  color: #2ba146;
  border-radius: 4px;
  line-height: 16px;
  text-align: center;
  box-sizing: border-box;
}

.name {
  font-size: 19px;
  color: #4c4c4c;
}

.details {
  width: 100%;
  margin-top: 1.2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #d4d4d4;/*no*/
  background: #f7f7f7;
}

.details-item {
  width: 96%;
  margin-left: 1.2rem;
  padding: 1rem 1.2rem 1rem 0;
  box-sizing: border-box;
  font-size: 1.6rem;
  color: #444;
  border-bottom: 1px solid #d4d4d4;/*no*/
}

.details-item:last-child {
  border-bottom: none;
}

.labels {
  margin-top: 8px;
  box-sizing: border-box;
}

.star {
  width: 1.5rem;
  height: 1.4rem;
  box-sizing: border-box;
}

.details-hd {
  width: 25%;
}

.details-hd img {
  width: 1.5rem;
  height: auto;
}

.details-bd {
  color: #666;
  text-align: right;
  font-size: 1.5rem;
}

.case-list {
  width: 100%;
  padding-top: 0.5rem;
  box-sizing: border-box;
}

.case-item {
  padding-top: 1rem;
  width: 96%;
  margin: auto;
  background: #fff;
}

.case-item:first-child {
  padding-top: 0;
}

.case-img {
  width: 100%;
}

.case-txt {
  width: 100%;
  margin: 0;
  padding: 2% 3%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 1.6em;
}